<form role="form" (submit)="login()">
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
      class="form-control" id="username" name="username" [(ngModel)]="user.login"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" [(ngModel)]="user.password"/>
	</div>
  <button type="submit" class="btn btn-primary">Submit</button> <button (click)="register()">Register</button>
</form>
<p *ngIf="invalidLogin">Wrong login or password</p>
{{registerMessage}}
